{% extends 'customer/base.html' %} {% block title %}E-tech - About Us {%  endblock title %} {% load static %} {% block content%}
<div class="about-us-wrapper pt-60 pb-40">
  <div class="container">
    <div class="row">
      <!-- About Text Start -->
      <div class="col-lg-12 order-last order-lg-first">
        <div class="about-text-wrap">
          <h2><span>Provide Best</span>Product For You</h2>
          <p>
            Welcome to <b>TRUIS INDIA</b>, your premier destination for
            cutting-edge electronic products. At <b>TRUIS INDIA</b> , we are
            passionate about technology and committed to bringing you the latest
            innovations in electronics to enhance your lifestyle.
          </p>
          <p>
            Our journey began with a simple goal: to provide customers with
            high-quality electronic devices that blend seamlessly into their
            daily lives. With a focus on innovation, reliability, and customer
            satisfaction, we have curated a diverse selection of products that
            cater to the needs and preferences of modern consumers.
          </p>
          <p>
            What sets us apart is our relentless dedication to excellence. We
            work closely with leading manufacturers and industry experts to
            source the most advanced and reliable electronic products on the
            market. From smartphones and laptops to smart home devices and
            wearable technology, each product in our collection undergoes
            rigorous testing to ensure superior performance and durability.
          </p>
          <p>
            But our commitment goes beyond just offering great products. At
            <b>TRUIS INDIA</b>, we prioritize customer experience above all
            else. Our knowledgeable team is here to assist you every step of the
            way, providing expert advice, personalized recommendations, and
            prompt support to help you make informed decisions and get the most
            out of your purchases.
          </p>
          <p>
            As a company, we are driven by a vision to empower individuals with
            the tools they need to stay connected, productive, and entertained
            in today's fast-paced world. Whether you're a tech enthusiast, a
            business professional, or a casual user, we have something for
            everyone.
          </p>
          <p>
            Thank you for choosing <b>TRUIS INDIA</b>. Join us on this exciting
            journey as we continue to redefine the possibilities of technology
            and strive to exceed your expectations at every turn.
          </p>
        </div>
      </div>
      <!-- About Text End -->
      <!-- About Image Start -->

      <!-- About Image End -->
    </div>

    <div class="team-area pt-60 pt-sm-44">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="li-section-title capitalize mb-25">
              <h2><span>our team</span></h2>
            </div>
          </div>
        </div>
        <!-- section title end -->
        <div class="row">
          

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="team-member mb-30 mb-sm-60">
              <div class="team-thumb">
                <img
                  src="{% static 'customer/images/team/rohan.jpg' %}"
                  alt="Our Team Member"
                />
              </div>
              <div class="team-content text-center">
                <h3>Rohan Nayak</h3>

                <a href="#">rohannayak2720@gmail.com</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
              <div class="team-thumb">
                <img
                  src="{% static 'customer/images/team/jay.jpg' %}"
                  alt="Our Team Member"
                />
              </div>
              <div class="team-content text-center">
                <h3>Jay Panchal</h3>
                <a href="#">panchaljay664@gmail.com</a>
              </div>
            </div>
          </div>
          <!-- end single team member -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="team-member mb-60 mb-sm-60 mb-xs-60">
              <div class="team-thumb">
                <img
                  src="{% static 'customer/images/team/4.jpg' %}"
                  alt="Our Team Member"
                />
              </div>
              <div class="team-content text-center">
                <h3>Jitesh Prajapati</h3>
                <a href="https://jitesh38.github.io/portfolio/">jitesh.office38@gmail.com</a>
              </div>
            </div>
          </div>
          <!-- end single team member -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
