{% extends 'customer/base.html' %} {% load static %} 
{% block title %}E-tech - Register {% endblock title %}
{% block content%}
<div class="page-section mt-40 mb-40">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">

        <!-- !Form start -->

        <form action="/customer/register" method="post" name="registerForm">
          {% csrf_token %}
          <div class="login-form">
            <h4 class="login-title">Register</h4>
            <div class="row">
              <div class="col-md-6 col-12 mb-20">
                <label>Name</label>
                <input class="mb-0" type="text" placeholder="Name" name="name" id="name"/>
              </div>
              <div class="col-md-6 col-12 mb-20">
                <label>User Name</label>
                <input class="mb-0" type="text" placeholder="User Name" name="username" id="username" required/>
              </div>
              <div class="col-md-12 mb-20">
                <label>Email Address*</label>
                <input class="mb-0" type="email" placeholder="Email Address" name="email" id="email" required/>
              </div>
              <div class="col-md-6 mb-20">
                <label>Password</label>
                <input class="mb-0" type="password" placeholder="Password" name="pass1" id="pass1" required/>
              </div>
              <div class="col-md-6 mb-20">
                <label>Confirm Password</label>
                <input
                  class="mb-0"
                  type="password"
                  placeholder="Confirm Password" name="pass2" id="pass2" required
                />
              </div>
              <div class="col-12">
                <button class="register-button mt-0">Register</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
